<header class="relative flex flex-col items-center justify-center h-screen overflow-hidden">
  <div class="flex flex-col relative z-30 justify-center items-center space-y-0">
    <img class="w-9/12 lg:pt-14 md:pt-14 pl-4 pt-10 " src="https://storage.googleapis.com/frec420/Logo_Color.png" alt="Frecuencia420 Logo" >

    <div class="m-auto grid grid-cols-3 z-0 grid-rows-none grid-flow-row gap-8 text-5xl text-lime-300 ">
      <a href="https://www.tiktok.com/@frecuencia420" target="_blank" rel="noopener noreferrer">
        <fa-icon [icon]="faTiktok"></fa-icon>
      </a>
      <a href="https://www.youtube.com/@frec420" target="_blank" rel="noopener noreferrer">
        <fa-icon [icon]="faYoutube"></fa-icon>
      </a>
      <a href="https://www.facebook.com/frec420/" target="_blank" rel="noopener noreferrer">
        <fa-icon [icon]="faFacebook"></fa-icon>
      </a>
      <a href="https://www.instagram.com/frec420/" target="_blank" rel="noopener noreferrer">
        <fa-icon [icon]="faInstagram"></fa-icon>
      </a>
      <a href="https://www.twitch.tv/frecuencia420" target="_blank" rel="noopener noreferrer">
        <fa-icon [icon]="faTwitch"></fa-icon>
      </a>
      <a href="https://twitter.com/Frecuencia420" target="_blank" rel="noopener noreferrer">
        <fa-icon [icon]="faTwitter"></fa-icon>
      </a>
    </div>
  </div>
  <video
    autoplay
    loop
    [muted]="true"
    class="absolute z-0 w-auto min-w-full min-h-screen max-w-none brightness-110 mix-blend-color"
  >
    <source
      src="https://storage.googleapis.com/frec420/videos-gifts/website/intro_01_2022_banner-website.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
</header>

